<div class="hero">
    <h1 class="hero__title">What is Calvinverse?</h1>
    <p class="hero__description">
        Repositories that contain the tools and services to create
        environments for an application or service in a repeatable manner.
    </p>
</div>