<div class="hero">
    <h1 class="hero__title">What is Calvinverse?</h1>
    <p class="hero__description">
        Provides a number of repositories that contain all the necessary code to create a
        build environment either in the cloud or on-prem. All infrastructure resources
        are based on the idea of
        <a href="https://thenewstack.io/a-brief-look-at-immutable-infrastructure-and-why-it-is-such-a-quest/">immutable infrastructure</a>.
    </p>
</div>